name: "Test"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        github_access_token: ${{ secrets.GITHUB_TOKEN }}

    - name: build package
      run: nix build -L

    - name: run VM tests
      run: nix build .#checks.x86_64-linux.testVm -L

    - uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: |
          result/hyprland-go.*
